<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class="cf">
        <section class="col left-main col-2-3 cf">

            <section class="col news_article col-1-3">
                <h2>Launching the New React/Redux Curriculum</h2>
                <p class="author">By APP ACADEMY INSTRUCTIONAL TEAM</p>

                <ul>
                    <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time
                        traveling debugger.</li>

                    <li>The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure
                        reducers.</li>

                </ul>

                <p>1738 Comments</p>

            </section>

            <section class="col video col-2-3">
                <figure>
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
                    <figcaption>Warning: This video will make you want to change your career.</figcaption>
                </figure>

                <article class="">
                    <h4>Where Are They Now?</h4>

                    <p class="author">By APP ACADEMY ALUMNI</p>

                    <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
                </article>

                <article class="">
                    <h4>Cat Academy</h4>

                    <p class="author">By APP ACADEMY DIRECTOR OF PRODUCTS</p>

                    <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>

                </article>

            </section>
        </section>

        <section class="col right-main col-1-3">
            <ul>
                <li>
                    <h5>The Opinion Pages</h5>
                </li>

                <li>
                    <section class="col opinion-pages cf">

                        <article class="col col-1-2">
                            <p>Op-Ed Contributor</p>
                            <h5>Will Javascript ever be as easy as Ruby?</h5>

                            <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
                            </p>

                            <ul>
                                <li>Torvalds: When I Was Almost Wrong</li>
                                <li>Knuth: Art of Programming</li>
                                <li>Lovelace: The First Algorithm</li>
                                <li>Hopper: The First Bug</li>
                                <li>Thompson: Go C Unix</li>
                                <li>Carmack: My Virtual Reality</li>
                                <li>Stallman: Free Speech Not Free Coffee</li>
                            </ul>
                        </article>

                        <article class="col col-1-2">
                            <p>Operations</p>
                            <h5>App Academy New York Has A Brand New Office</h5>
                            <p class="author">By NY OPERATIONS</p>

                            <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
                            </p>

                            <img src="assets/new_office.jpg" alt="NY Office" width="150" height="105">

                            <strong>Opinion Today, in your Inbox</strong>
                            <p>Each weekday, get though-provoking commentary from our columnists and contributors.
                            </p>

                        </article>
                    </section>
                </li>
                <li>
                    <div class="thumbnail">
                        <input type="text" value="Get the Opinion newsletter by email">
                        <button type="button">Sign Up</button>
                    </div>

                    <p>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
                    </p>
                </li>

            </ul>
        </section>

    </body>
</html>
